{% extends 'base.html %}

{% block title %} Section List {% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
{% if current_user.Email == 'admin@mail.com' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>{{ message }}</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Section Name</th>
        <th scope="col">Section Description</th>
        <th scope="col">Date Added</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for section in sections %}
      <tr>
        <td>{{ section.id }}</td>
        <td>{{ section.Sec_Name }}</td>
        <td>{{ section.Sec_Description }}</td>
        <td>{{ section.Sec_Date }}</td>
        <td><button type="button" class="btn btn-danger"><a href="{{ url_for('deletesection', id=section.id) }}" style="text-decoration:none">Delete</a></button</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}