{% extends 'base.html' %}

{% block title %} Library User List {% endblock %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.Name }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.Password }}</td>
        <td><button type="button" class="btn btn-danger"><a href="{{ url_for('deleteuser', id=user.id) }}" style="text-decoration:none">Delete</a></button</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}